:root {
  --background-color: #f0f0f0;
  --text-color: #363636;
  --text-color-inversed: #fff;
  --text-days: #898989;
  --text-days-future: #c2c2c2;
  --container-bg-color: #fff;
  --button-bg-color: #ebebeb;
  --button-hover-bg-color: #e6e6e6;
 }
 
 [data-theme="dark"] {
  --background-color: #292929;
  --text-color: #fff;
  --text-color-inversed: #444;
  --text-days: #c2c2c2;
  --text-days-future: #8a8a8a;
  --container-bg-color: #363636;
  --button-bg-color: #666;
  --calendar-bg-color: #333;
  --button-hover-bg-color: #777;
 }
 
 [data-theme="dark"] .logo img {
  filter: invert(100%);
 }
 
body {
  font-family: 'Lexend', sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
 
 .github-logo {
  fill: var(--container-bg-color);
  color: var(--text-color);
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
 }
 
 .appContainer {
  background-color: var(--container-bg-color);
  padding: 1.875em;
  padding-bottom: 1.6em;
  border-radius: 2.5em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
 }
 
 .disabled {
  opacity: 0.3;
  pointer-events: none;
 }
 
 .submitContainer {
  background-color: var(--background-color);
  border-radius: 1.875em;
  padding-top: 0.4em;
  padding: 1.4em;
  margin-bottom: 2em;
  margin-top: 1em;
  box-shadow: 0 0.125em 0.225em rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30em;
 }
 
 .feather {
  color: var(--text-color);
 }
 
 .voteButtons,
 .postInfo {
  background-color: var(--container-bg-color);
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.3125em;
  font-size: 1em;
  margin-top: 1em;
 }
 
 .voteUp,
 .voteDown {
  padding: 0.3125em;
  margin: 0;
  width: 1.875em;
  height: 1.875em;
  background-color: var(--container-bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-family: 'Lexend', sans-serif;
  font-size: 1em;
 }
 
 .voteCount {
  padding: 0.3125em 0.625em;
  font-size: 1em;
 }
 
 .showAllSubmissions,
 .uploadButton {
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  padding: 0.7em 1em 0.5em;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
  font-family: 'Lexend', sans-serif;
  font-size: 1em;
  margin-left: 0.6em;
 }
 
 .showAllSubmissions:hover,
 .uploadButton:hover,
 .voteUp:hover,
 .voteDown:hover {
  background-color: var(--button-hover-bg-color);
 }
 
 .description {
  font-size: 1em;
  text-align: center;
  margin: 0;
  padding: 0.375em;
  max-width: 20em;
 }
 
 .description a,
 .userInfoModal a {
  border-bottom: solid 0.01em;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
 }
 
 .buttonContainer {
  margin-bottom: 0.4em;
 }
 
 .logo {
  text-align: center;
 }
 
 .logo img {
  filter: none;
 }
 
 .switch {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.5em;
 }
 
 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
 }
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  transition: 0.4s;
  border-radius: 1.5em;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 1.125em;
  width: 1.125em;
  left: 0.1875em;
  bottom: 0.1875em;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
 }
 
 input:checked + .slider {
  background-color: var(--background-color);
 }
 
 input:checked + .slider:before {
  transform: translateX(1em);
 }
 
 #countdownContainer {
  padding: 0.625em;
  margin-top: 0;
  text-align: center;
  font-size: 1em;
  min-height: 3em;
 }
 
 .leftSection {
  display: flex;
  align-items: center;
 }
 
 #logoPicture {
  margin-left: 0.625em;
  max-width: 6.25em;
  max-height: 3em;
 }
 
 .title h2 {
  margin-bottom: 0.4em;
  padding: 0;
 }
 
 .black-fill {
  filter: grayscale(100%);
 }
 
 [data-theme="dark"] .black-fill {
  filter: grayscale(100%) invert(100%) brightness(130%);
 }
 
 .submitItem {
  position: relative;
  overflow: hidden;
  display: flex;
  max-width: inherit;
 }
 
 .submitDescription {
  font-size: 1em;
  max-width: 30em;
  margin-bottom: 1.8em;
  margin-top: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
 }
 
 .submitImage {
  display: block;
  border-radius: 0.5em;
  width: 100%;
 }
 
 .uploadButtons {
  display: flex;
  padding: 0.625em;
  margin-top: 0.625em;
  margin-bottom: 0.625em;
 }
 
 .modal {
  display: none
  ;
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgba(0, 0, 0, 0.4);
 align-items: center;
}

.modal-content {
 background-color: var(--container-bg-color);
 margin: 15% auto;
 padding: 1.25em;
 padding-top: 0;
 border: none;
 border-radius: 1.5em;
 box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
 display: flex;
 flex-direction: column;
 width: auto;
 max-width: fit-content;
 font-family: 'Lexend', sans-serif;
 color: var(--text-color);
 text-align: center;
}

.close {
 color: var(--text-color);
 float: right;
 font-size: 1.5em;
 font-weight: bold;
 cursor: pointer;
 transition: color 0.3s ease;
 margin-top: 1em;
}

.userInfoModal-close {
 color: var(--text-color);
 float: right;
 font-size: 1.5em;
 font-weight: bold;
 cursor: pointer;
 transition: color 0.3s ease;
 margin-bottom: 0.5em;
 margin-top: 0;
}

#modalOverlay {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.4);
 display: none;
 justify-content: center;
 align-items: center;
 z-index: 999;
}

#logoutAlert,
#loginAlert {
 background-color: var(--container-bg-color);
 padding: 1.25em;
 border-radius: 0.625em;
 box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
 position: relative;
 z-index: 1000;
 max-width: 90%;
 text-align: center;
}

.userInfoModal-close:hover,
.close:hover {
 color: var(--button-hover-bg-color);
}

#imageInput {
 background-color: var(--button-bg-color);
 border: 0.0625em solid var(--input-border-color);
 border-radius: 0.5em;
 padding: 0.5em;
 font-family: 'Lexend', sans-serif;
 font-size: 1em;
 margin-bottom: 1em;
 display: none;
}

.file-input-label {
 display: inline-block;
 background-color: var(--button-bg-color);
 color: var(--text-color);
 border: none;
 border-radius: 0.5em;
 cursor: pointer;
 padding: 0.7em 1em 0.5em;
 box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
 font-family: 'Lexend', sans-serif;
 font-size: 1em;
 transition: background-color 0.3s ease;
 margin-bottom: 1em;
}

.file-input-label:hover {
 background-color: var(--button-hover-bg-color);
}

#uploadSubmit {
 background-color: var(--button-bg-color);
 color: var(--text-color);
 border: none;
 border-radius: 0.5em;
 cursor: pointer;
 padding: 0.7em 1em 0.5em;
 box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
 font-family: 'Lexend', sans-serif;
 font-size: 1em;
 align-self: center;
 transition: background-color 1s ease;
}

#uploadSubmit:hover {
 background-color: var(--button-hover-bg-color);
}

#imagePreviewContainer {
 width: auto;
 margin-bottom: 1rem;
}

.previewImage {
 display: block;
 border-radius: 0.5em;
 min-width: 30em;
 max-width: 30em;
}

.userInfoModal {
 display: none;
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 text-decoration: none;
 background-color: rgba(0, 0, 0, 0.4);
}

.userInfoModal p {
 margin-top: 0;
 margin-bottom: 10px;
}

.userInfoModal-content {
 background-color: var(--container-bg-color);
 margin: 15% auto;
 padding: 1.3em;
 border: none;
 width: auto;
 border-radius: 1.5em;
 box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
 display: flex;
 flex-direction: column;
 max-width: fit-content;
 min-width: 10em;
 font-family: 'Lexend', sans-serif;
 color: var(--text-color);
 position: relative;
 text-align: center;
}

.Center {
 text-align: center;
 align-items: center;
}

#brandingInput,
#nameInput,
#emailInput,
#portfolioInput {
 color: var(--text-color);
 background-color: var(--button-bg-color);
 border: 0.0625em solid var(--input-border-color);
 border-radius: 0.5em;
 padding: 0.5em;
 font-family: 'Lexend', sans-serif;
 font-size: 1em;
 margin-bottom: 1em;
}

#descriptionInput {
 color: var(--text-color);
 background-color: var(--button-bg-color);
 border: 0.0625em solid var(--input-border-color);
 border-radius: 0.5em;
 padding: 0.5em;
 font-family: 'Lexend', sans-serif;
 font-size: 1em;
 margin-bottom: 0.2em;
}

.submitInfoAndVotes {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 text-align: ;
}

.imgurLink {
 text-decoration: none;
}

.userInfo {
 background-color: var(--background-color);
 color: var(--text-color);
 border: none;
 cursor: pointer;
 font-family: 'Lexend', sans-serif;
 font-size: 1em;
 display: flex;
 align-items: center;
 padding: 0.5em;
}

.submitterName {
 margin-left: 0.3em;
}

.voteButtonsContainer {
 display: flex;
 justify-content: flex-end;
 width: auto;
}

#fileNameDisplay {
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 display: inline-block;
 text-align: center;
 max-width: 10em;
 margin-bottom: 1em;
}

@media (max-width: 480px) {
 .submitContainer {
   background-color: var(--background-color);
   border-radius: 1.4em;
   box-shadow: 0 0.125em 0.225em rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 100%; /* Add this line */
    box-sizing: border-box; /* Add this line */
    padding: 1em;
 }

 body {
  justify-content: flex-start; /* Align items at the start (top) */
    align-items: center; /* Center horizontally */
    height: auto;
    margin-top: 0;
    background-color: var(--container-bg-color);
 }

 .logo {
   margin-top: 0;
 }

 .appContainer {
   background-color: transparent;
   box-shadow: none;
   border: none;
   width: auto;
   padding-bottom: 0;
   padding-top: 0em;
 }

 #countdownContainer {
   padding: 0;
   text-align: center;
   margin-top: 0;
   margin-bottom: 0;
 }

 #countdown {
   margin-top: 0.25em;
   margin-bottom: 0;
 }

 .github-logo {
   fill: var(--background-color);
   color: var(--text-color);
   position: absolute;
   top: 0;
   border: 0;
   right: 0;
   aria-hidden: true;
 }

 #countdownContainer {
   text-align: center;
   font-size: 1em;
 }

 .submitImage {
   display: block;
   border-radius: 0.5em;
   max-width: 100%;
 }
}